@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using VAVS.Enum
@*@model MADBHR_Models.Employee.VMRequestEmployee*@
@model VAVS_Model.Model.VM_SetUpStandardValue
@{
    var controller = "Vehicle";
    ViewData["Title"] = "All " + controller;
    
}
<section class="content">

    <div class="box">
        <div class="box-header">

            @*  <h4 class="text-blue text-bold">ဌာနများဖြည့်သွင်းရန်</h4> *@
        </div>
        <div class="box-body">
            <div class="row">
                <form action="@Configuration.GetSection("AppUrls").GetSection("TestUrl").Value/@controller/@ViewData["Action"]" method="post" enctype="multipart/form-data">
                    @*}*@
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label class="form-label" for="field-1">Manufacturer</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-1" asp-for="Manufacturer">
                                    <span asp-validation-for="Manufacturer" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <label class="form-label" for="field-1">Build Type</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-1" asp-for="BuildType">
                                    <span asp-validation-for="BuildType" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <label class="form-label" for="field-1">Fuel Type</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-1" asp-for="FuelType">
                                    <span asp-validation-for="FuelType" class="text-danger"></span>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label class="form-label" for="field-1">VehicleBrand</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-1" asp-for="VehicleBrand">
                                    <span asp-validation-for="VehicleBrand" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <label class="form-label" for="field-1">Model Year</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-1" asp-for="ModelYear">
                                    <span asp-validation-for="ModelYear" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <label class="form-label" for="field-1">Engine Power</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-1" asp-for="EnginePower">
                                    <span asp-validation-for="EnginePower" class="text-danger"></span>

                                </div>
                            </div>
                        </div>
                  
                    
         

            <div class="row">
                <div class="col-xs-12  padding-bottom-30">
                    <div class="text-left">
                        @if (ViewBag.Township == null)
                        {
                            <button type="submit" class="btn btn-primary gradient-blue">Save</button>
                        }

                        @*  <a asp-controller="@controller" asp-action="Index" asp-route-Status="Pending" class="btn btn-primary">Cancel</a> *@
                    </div>
                </div>
            </div>

        </div>
        </form>
    </div>
    </div>
    </div>
</section>