@model VAVS_Data.Models.TbUser
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VAVS Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/select2.min.css" rel="stylesheet" />

    <style>
        body {
            background: #2710e775;
            font-family: 'Open Sans', sans-serif;
        }

        .login {
            width: 400px;
            margin: 16px auto;
            font-size: 16px;
            /*margin-top: 200px;*/
        }
            /* Reset top and bottom margins from certain elements */
            .login-header,
            .login p {
                margin-top: 0;
                margin-bottom: 0;
            }
        /* The triangle form is achieved by a CSS hack */
        .login-triangle {
            width: 0;
            margin-right: auto;
            margin-left: auto;
            border: 12px solid transparent;
            border-bottom-color: #0f3cbd
        }

        .login-header {
            background: #0f3cbd;
            padding: 20px;
            font-size: 1.4em;
            font-weight: normal;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
        }

        .login-container {
            background: #ebebeb;
            padding: 12px;
        }
        /* Every row inside .login-container is defined with p tags */
        .login p {
            padding: 12px;
        }

        .login input {
            box-sizing: border-box;
            display: block;
            width: 100%;
            border-width: 1px;
            border-style: solid;
            padding: 16px;
            outline: 0;
            font-family: inherit;
            font-size: 0.95em;
        }

            .login input[type="email"],
            .login input[type="password"] {
                background: #fff;
                border-color: #bbb;
                color: #555;
            }
                /* Text fields' focus effect */
                .login input[type="email"]:focus,
                .login input[type="password"]:focus {
                    border-color: #888;
                }

            .login input[type="submit"] {
                background: #0f3cbd;
                border-color: transparent;
                color: #fff;
                cursor: pointer;
            }

                .login input[type="submit"]:hover {
                    background: #0f3cbd;
                }
                /* Buttons' focus effect */
                .login input[type="submit"]:focus {
                    border-color: #05a;
                }
        /*Modal View*/
        .card {
            width: 400px;
            border: none;
            height: 300px;
            box-shadow: 0px 5px 20px 0px #d2dae3;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center
        }

            .card h6 {
                color: red;
                font-size: 20px
            }

        .inputs input {
            width: 40px;
            height: 40px
        }

        input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0
        }

        .card-2 {
            background-color: #fff;
            padding: 10px;
            width: 350px;
            height: 100px;
            bottom: -50px;
            left: 20px;
            position: absolute;
            border-radius: 5px
        }

            .card-2 .content {
                margin-top: 50px
            }

                .card-2 .content a {
                    color: red
                }

        .form-control:focus {
            box-shadow: none;
            border: 2px solid #0f3cbd
        }

        .validate {
            border-radius: 20px;
            height: 40px;
            background-color: #0f3cbd;
            border: 1px solid #0f3cbd;
            width: 140px
        }
        /*Modal View*/
    </style>

</head>

<body>


    <form class="login" asp-action="Login">
        <div class="login-triangle"></div>

        <h2 class="login-header"><img src="~/Content/images/VAVSLogo.jpg" alt="Pension" style="max-height: 41px; width: auto; margin-bottom: -13px;margin-left:-113px;" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VAVS Admin <br /></h2>


        <div class="login-container">
            <p><input name="username" type="text" placeholder="Username" autocomplete="off"></p>
            <p><input name="password" type="password" placeholder="Password" autocomplete="off"></p>
            <span class="text-center text-danger" style="color:red;">@ViewBag.Error</span>
            <p><input type="submit" value="Log in"></p>
        </div>
    </form>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/select2.min.js"></script>

    <script type="text/javascript">
        var msg = '@ViewBag.Message';
        $(document).ready(function () {
        })
        $("#first").on("input", function () {
            var one = $(this).val()
            if (one.length == 1) {
                $('#second').focus();
            }
        })
        $("#second").on("keyup", function (e) {
            var two = $(this).val()
            if (e.which == 8 && two.length == 0) {
                $('#first').focus();
                $('#first').val("");
            }
            else if (two.length == 1) {
                $('#third').focus();
            }
        })
        $("#third").on("keyup", function (e) {
            var three = $(this).val()
            if (e.which == 8 && three.length == 0) {
                $('#second').focus();
                $('#second').val("");
            }
            if (three.length == 1) {
                $('#fourth').focus();
            }
        })
        $("#fourth").on("keyup", function (e) {
            var fourth = $(this).val()
            if (e.which == 8 && fourth.length == 0) {
                $('#third').focus();
                $('#third').val("");
            }
        })
        $('#btnSubmit').on('click', function () {
            var one = $('#first').val()
            var two = $('#second').val()
            var three = $('#third').val()
            var four = $('#fourth').val()
            $('#otpCode').val(one + two + three + four);
            alert($('#otpCode').val())
        })

    </script>
</body>
</html>